body {
    background: linear-gradient(#3494E6, #EC6EAD);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.table {
    width: 90%;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 110px auto;
    position: absolute;
}

.table table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.table table td,
th {
    border: 4px solid #0e0e0e;
    text-align: left;
    padding: 8px;
    text-align: center;
}
.th0{
    border: none;
}
.th1 {
    background-color: rgb(234, 68, 36);
}

.th2 {
    background-color: rgb(254, 137, 47);
    width: 30%;
}

.th3 {
    background-color: rgb(140, 63, 2);
}

.table table tr:nth-child(even) {
    background-color: #dddddd;
}

header h1 {
    text-align: center;
    color: rgb(17, 6, 11);
    font-size: 49px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.button {
    text-align: center;
}

.button a {
    text-decoration: none;
    color: white;
}
.button2{
    float: right;
    margin-right: 67px;
}
.button2 a{
    text-decoration: none;
    color: wheat;
}
.btn {
    padding: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    outline: none;
}
.btn1{ 
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
}
.btn1:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.btn2{
    background-image: linear-gradient(to right, #3D7EAA 0%, #FFE47A  51%, #3D7EAA  100%);
}
.btn2:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.btn3{
    background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC  51%, #FC354C  100%);
}
.btn3:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.btn4{
    background-image: linear-gradient(to right, #c21500 0%, #ffc500  51%, #c21500  100%);
}

.btn4:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.btn5{
    background-color: #3D7EAA;
}
.btn5:hover{
    background-image: linear-gradient(to right, #fa709a 0%, #4d3d0b   51%, #fee140 100%);
}
.btn6{
    background-image: linear-gradient(to right, #fa709a 0%, #4d3d0b   51%, #fee140 100%);
}
.btn6:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.pagination {
    margin-top: 15px;
    margin-left: 400px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #252323;
    /* background-color: rgb(250, 250, 252); */
    background-color: transparent;
    border-radius: 10px;
    margin: 4px;
  }
.pagination a:hover {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%)
}

