/* *{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    background-color: rgb(109, 96, 96);
    height: 100vh;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    width: 250px;
    height: 0px;
    border: 1px solid rgb(82, 69, 69);
    background-color: rgb(241, 25, 25);
    box-shadow: 4px 8px 10px rgba(0,0,0,0.2), -5px 5px 10px rgba(0,0,0,0.2);
}
.pic img{
    width: 100%;
}

/* .head{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
} */
.pic{
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 20px 40px;
}

.pic img{
    width: 500px;
    height: 172px;
}
.known{
    padding: 0px 20px;
}
.box1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
}
.box{
    width: 40%;
    height: 350px;
    padding: 30px 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    box-shadow: 4px 8px 10px rgba(0,0,0,0.2), -5px 5px 10px rgba(0,0,0,0.2);
    border: 1px solid rgb(240, 234, 234);
    background-color: white;
}
h2{
    font-weight: bold;
    margin-bottom: 0;
}
p a{
    text-decoration: none;
}
p{
    font-weight: bold;
    font-size: 15px;
}
.btn{
    padding: 13px 25px;
    border: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.btn1{
    border: 1px solid rgb(51,194,77);
    background-color: transparent;
    color: rgb(51,194,77);
}
.btn1:hover{
    background-color:rgb(51,194,77) ;
    color: white;
}
.btn2{
    padding: 13px 25px;
    background-color: orange;
    color: white;
    border-radius:5px;
}
.btn2:hover{
    background-color: rgb(240, 196, 114);
}
span{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(25,210,238);
    font-size: 25px;
}
.btn3{
    color: rgb(7, 7, 7);
    background-color: blue;
    border-radius: 5px;
}
.btn3:hover{
    background-color:rgb(196, 196, 241) ;
    color: white;
}
.btn4{
    color: rgb(7, 7, 7);
    background-color: aqua;
    border-radius: 5px;
}
.btn4:hover{
    background-color:rgb(166, 240, 240) ;
    color: white;
}
.btn5{
    color: rgb(7, 7, 7);
    background-color: palegreen;
    border-radius: 5px;
}
.btn5:hover{
    background-color:rgb(202, 253, 202);
    color: white;
}

.footer{
    margin-left: 40px;
    margin-top: 30px;
}